{% extends "base.html" %}

{% block maincontent %}
  
  <!-- Main Content -->
  <main class="container mt-4">
    <h1 class="text-center mb-4">Our Products</h1>
    <p class="text-center mb-5">Explore our range of cave diving packages tailored for all experience levels.</p>

    <!-- Product Tiles -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for product in products %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text text-end text-success fw-bold">{{ product.cost }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    
  </main>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <p class="text-center mb-5">Prices are in USD.  We accept all currencies.</p>

  {% endblock %}